/* Hauteur de la carte pour occuper tout l’écran */
/* #map {
  height: calc(100vh - 56px);
    width: 100%;
  } */

  /* body {
    padding-top: 56px;
  } */
  
  html, body {
    height: 100%; /* Assure que le body occupe tout l'écran */
    margin: 0;
    
  }

  #map {
    height: 100%; /* Permet à la carte de prendre toute la hauteur de son conteneur */
    width: 100%; /* Optionnel, mais utile pour éviter des débordements */
  }

  main {
    flex-grow: 1; /* Fait grandir le contenu principal pour occuper tout l'espace disponible */
    display: flex; /* Permet de gérer des enfants comme #map */
  }
  
  /* Petite icône carrée pour afficher la couleur dans la liste */
  .color-box {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
    border: 1px solid #000;
  }
  
  /* Curseur de déplacement pour les éléments de la liste */
  .drag-handle {
    cursor: grab;
    margin-right: 8px;
  }
  
  /* Styles pour le feedback (labels ou erreur) */
  #coord-feedback label {
    display: block;
    font-weight: 500;
  }
  #coord-feedback .text-danger {
    font-size: 0.9rem;
  }
  